{:api.server/url "http://localhost:8080"
 :github.oauth-token/path "/etc/github-statuses-updater/oauth-token"
 :tekton.api/path "/apis/tekton.dev/v1alpha1"
 :tekton.api/url
 "{api.server/url}{tekton.api/path}/namespaces/{tekton/namespace}"
 :tekton/namespace "default"
 :tekton.dashboard/url "http://eb59abb6.ngrok.io"
 :tekton.dashboard/task-run
 "{tekton.dashboard/url}/#/namespaces/{tekton/namespace}/taskruns/{task-run}"}
